<!-- footer -->
<footer class="footer">
    <h1 class="footer_logo">Planeye Logo</h1>
    <div>
        <dl>
            <dt>Contact us</dt>
            <dd>Phone: +82 2-322-9840 <br>Mail: <a href="mailto:planeye@servicecenter.com">planeye@servicecenter.com</a></dd>
            <dd>서울 특별시 마포구 상수동 333-82층 플랜아이</dd>
        </dl>
        <dl>
            <dt>Customer Service</dt>
            <dd>Contact us</dd>
            <dd>가격</dd>
            <dd>이용방법</dd>
        </dl>
        <dl>
            <dt>Information</dt>
            <dd>이용약관</dd>
            <dd>개인정보 보호정책</dd>
            <dd>환불 정책</dd>
        </dl>
    </div>
    <p class="copy">CopyRight <img src="../assets/img/ico_copy.svg" alt="CopyRight"> Planeye</p>
</footer>
<!--// footer -->
</div>
<button class="btn __top" id="btnTop"></button>

<!-- mobile nav -->
<aside class="side_nav">
    
</aside>

<!--// mobile nav -->
<script defer src="../assets/js/jquery-3.4.1.min.js"></script>
<script defer src="../assets/libs/swiper.min.js"></script>
<script defer src="../assets/js/ui.js"></script>
</body>
</html>