<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Planeye">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <title></title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    
    <link type="text/css" rel="stylesheet" href="/assets/css/common.min.css" />
</head>
<body>
<div class="bg_dimmed"></div>

<div id="wrap" class="wrap">
    <!-- header -->
    <header class="header">
        <h1 class="logo">
            <a href="#a" class="link">Planeye</a>
        </h1>
        <nav class="">
            <a href="#a" class="__menu"><img src="/assets/img/ico_search.svg" alt="검색"></a>
            <a href="#a" class="__menu __shop">
                <img src="/assets/img/ico_shop.svg" alt="장바구니">
                <i class="__push">1</i>
            </a>
            <!-- 로그인 전 -->
            <!-- <a href="#a" class="__menu"><img src="/assets/img/ico_my.svg" alt="로그인"></a>  -->
            
            <!-- 로그인 후 -->
            <a href="#a" class="__txt">마이페이지</a>
            <div class="__smenu">
                <a href="#a">전시관관리</a>
                <a href="#a">상품관리</a>
                <a href="#a">고객통계</a>
                <a href="#a">계정관리</a>
            </div>
            <a href="#a" class="__txt">로그아웃</a>

            <!-- 모바일 버튼 -->
            <button id="btnMobile" class="m btn _menu"></button>
        </nav>
    </header>
    <!--// header -->
