@include desktop {
    .tour {
        width: 1273px;
        margin:0 auto;
        .mobile_txt {
            display: none;
        }
        .tour_exhibition {
            position: relative;
            > .btn_wrap {
                overflow: hidden;
                position: absolute;
                right:0;
                top:50%;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                transform: translateY(-50%);
                box-shadow:-2px 2px 8px rgba(0, 0, 0, 0.1);
                .btn {
                    display: flex;
                    width: 64px;
                    height: 64px;
                    border-radius: 0;
                    &.__zoom {  
                        border-bottom: 1px solid #e5e5e5;
                        background:#fff url(../img/ico_telephone.svg) no-repeat 50% / 24px;
                    }
                    &.__chat {
                        background:#fff url(../img/ico_chat.svg) no-repeat 50% / 24px;
                    }
                    &:hover {
                        background-color: #FDD7DC;
                    }
                }
            }
            .__metterport {
                display: block;
                width: 30px;
                height: 30px;
                background: url(../img/ico_matterport.png) no-repeat 0 0 / cover;
                position: absolute;
                left:100px;
                top:100px;
                border: 0 solid #000;
                z-index: 10;
            }
            .__cart_pop {
                position: absolute;
                left: 33px;
                top:16px;
                transform: translate(0,0);    
                background: #EBEBEB;    
                width: 396px;
                padding:37px 22px 25px;
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
                .tit {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
                .img_box {
                    position: relative;
                    overflow: hidden;
                    padding-top: 54%;
                    img {
                        width: 100%;
                        position: absolute;
                        left: 50%;
                        top:50%;
                        right:0;
                        bottom:0;
                        transform: translate(-50%,-50%);
                    }
                }
                .__zoom {
                    position: absolute;
                    right:15px;
                    bottom:15px;
                    display: block;
                    width: 27px;
                    height: 27px;
                    border-radius: 3px;
                    background:#ECF2FE url(../img/ico_zoom.svg) no-repeat 50% 50% / 16px;
                }
                .closed_pop {
                    display: block;
                    width: 12px;
                    height: 12px;
                    padding:3px;
                    position: absolute;
                    right:10px;
                    top:10px;
                    background: url(../img/ico_cross.svg) no-repeat 50% / cover;
                }
                .btn_wrap {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 168px;
                        height: 48px;
                        border-radius: 3px;
                        border: solid 1px #1d1d1d;
                        font-size: 14px;
                        font-weight: 700;
                        color:#1d1d1d;
                        &.__buy {
                            background-color: #1d1d1d;
                            color:#fff;
                        }
                    }
                }
                .price_box {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    .plus_minus {
                        input {
                            background: #EBEBEB;
                        }
                    }
                    .t_price {
                        font-size: 24px;
                        font-weight: 700;
                        padding-right: 15px;
                    }
                }
                .t1 {
                    font-size: 16px;
                    font-weight: 700;
                }
                .t2 {
                    font-size: 16px;
                    margin: 5px 0 20px;
                    height: 60px;
                    overflow-y: auto;
                }
            }
            .__zoom_pop {
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%,-50%);    
                background: #EBEBEB;    
                width: 614px;
                padding:40px 63px 50px;
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
                .tit {
                    font-size: 32px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    text-align: center;
                }
                .closed_pop {
                    display: block;
                    width: 12px;
                    height: 12px;
                    padding:3px;
                    position: absolute;
                    right:20px;
                    top:20px;
                    background: url(../img/ico_cross.svg) no-repeat 50% / cover;
                }
                .btn_wrap {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 232px;
                        height: 40px;
                        border-radius: 3px;
                        border: solid 1px #1d1d1d;
                        font-size: 14px;
                        font-weight: 700;
                        color:#1d1d1d;
                        &.__yes {
                            background-color: #1d1d1d;
                            color:#fff;
                        }
                    }
                }
            }
        }
        .txt_wrap {
            padding:27px 43px 43px;
            h1 {
                font-size: 22px;
                font-weight: 700;                
            }
            .txt {
                margin-top: 23px;
                font-size: 16px;
                line-height: 24px;
            }
        }
        .tour_btm {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height:64px;
            padding:0 64px 0 43px;
            background: #1262ea;
            .__link {
                margin-right: auto;
                color:#fff;
                padding-right: 22px;
                text-decoration: underline;
                background: url(../img/ico_link_white.svg) no-repeat 100% 50% / 14px;
            }
            > div {
                display: flex;
                align-items: center;
                a {
                    display: inline-block;
                    padding:6px;
                }
            }
            p {
                font-size: 10px;
                padding-left: 23px;
                color:#fff;
            }
        }
        .tour_pro_list {
            display: flex;
            flex-wrap: wrap;            
            padding:33px 40px;
            li {
                position: relative;
                width: 218px;
                margin-top: 30px;
                margin-right: 25px;
                &:nth-child(5n) {
                    margin-right: 0;
                }
                img {
                    width: 100%;
                }
                &::before {
                    z-index: 1;
                    position: absolute;
                    left: 0;
                    top:0;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 22.48%);
                }
                &:nth-child(-n + 5) {
                    margin-top: 0;
                }
                button {
                    position: absolute;
                    right:10px;
                    top:10px;
                    width: 22px;
                    height: 22px;
                    border-radius: 100%;
                    z-index: 2;
                    background: rgba(29, 29, 29, 0.35) url(../img/ico_share.svg) no-repeat 50% 50% / 14px;
                    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
                }
                .txt_box {
                    position: absolute;
                    bottom:8px;
                    left:0;
                    z-index: 2;
                    padding-left: 15px;

                    .p_name {
                        font-weight: 600;                        
                        margin-bottom: 8px;
                    }
                    .p_price {
                        font-weight: 700;
                    }
                }
            }
        }
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            &.__more {
                width: 211px;
                height: 48px;
                margin: 64px auto;
                border: 1px solid #C4C4C4;
                color: #C4C4C4;
            }
        }
    }
}

@include mobile {
    .tour {
        width: 100%;
        .mobile_txt {
            display: block;
            font-size: vw(29);
            font-weight: 700;
            padding:vw(21) vw(24) vw(18);
        }
        .tour_exhibition {
            position: relative;
            height: vw(195);
            img {
                width: 100%;
            }
            > .btn_wrap {
                overflow: hidden;
                position: absolute;
                right:0;
                top:50%;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                transform: translateY(-50%);
                box-shadow:-2px 2px 8px rgba(0, 0, 0, 0.1);
                .btn {
                    display: flex;
                    width: vw(64);
                    height: vw(64);
                    border-radius: 0;
                    &.__zoom {  
                        border-bottom: 1px solid #e5e5e5;
                        background:#fff url(../img/ico_telephone.svg) no-repeat 50% / vw(24);
                    }
                    &.__chat {
                        background:#fff url(../img/ico_chat.svg) no-repeat 50% / vw(24);
                    }&:hover {
                        background-color: #FDD7DC;
                    }
                }
            }
            .__metterport {
                display: block;
                width: vw(30);
                height: vw(30);
                background: url(../img/ico_matterport.png) no-repeat 0 0 / cover;
                position: absolute;
                left:10vw;
                top:10vw;
                border: 0 solid #000;
                z-index: 10;
            }
            .__cart_pop {
                position: absolute;
                left: vw(30);
                top:vw(10);
                transform: translate(0,0);    
                background: #EBEBEB;    
                width: vw(300);
                padding:vw(20);
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
                .tit {
                    font-size: vw(16);
                    margin-bottom: vw(20);
                }
                .img_box {
                    position: relative;
                    overflow:hidden;
                    padding-top: 54%;
                    img {
                        width: 100%;
                        position: absolute;
                        left: 50%;
                        top:50%;
                        right:0;
                        bottom:0;
                        transform: translate(-50%,-50%);
                    }
                }
                .__zoom {
                    position: absolute;
                    right:vw(15);
                    bottom:vw(15);
                    display: block;
                    width: vw(27);
                    height: vw(27);
                    border-radius: 3px;
                    background:#ECF2FE url(../img/ico_zoom.svg) no-repeat 50% 50% / vw(16);
                }
                .closed_pop {
                    display: block;
                    width: vw(12);
                    height: vw(12);
                    padding:3px;
                    position: absolute;
                    right:vw(10);
                    top:vw(10);
                    background: url(../img/ico_cross.svg) no-repeat 50% / cover;
                }
                .btn_wrap {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 49%;
                        height: vw(48);
                        border-radius: 3px;
                        border: solid 1px #1d1d1d;
                        font-size: vw(14);
                        font-weight: 700;
                        color:#1d1d1d;
                        &.__buy {
                            background-color: #1d1d1d;
                            color:#fff;
                        }
                    }
                }
                .price_box {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: vw(10);
                    .plus_minus {
                        input {
                            background: #EBEBEB;
                        }
                    }
                    .t_price {
                        font-size: vw(24);
                        font-weight: 700;
                        padding-right: vw(15);
                    }
                }
                .t1 {
                    font-size: vw(16);
                    font-weight: 700;
                }
                .t2 {
                    font-size: vw(16);
                    margin: vw(5) 0 vw(20);
                    height: vw(50);
                    overflow-y: auto;
                }
            }
            .__zoom_pop {
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%,-50%);    
                background: #EBEBEB;    
                width: 90%;
                padding:vw(20) vw(30);
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
                .tit {
                    font-size: vw(22);
                    font-weight: 700;
                    margin-bottom: vw(20);
                    text-align: center;
                }
                .closed_pop {
                    display: block;
                    width: vw(12);
                    height: vw(12);
                    padding:3px;
                    position: absolute;
                    right:vw(20);
                    top:vw(20);
                    background: url(../img/ico_cross.svg) no-repeat 50% / cover;
                }
                .btn_wrap {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 48%;
                        height: vw(40);
                        border-radius: 3px;
                        border: solid 1px #1d1d1d;
                        font-size: vw(14);
                        font-weight: 700;
                        color:#1d1d1d;
                        &.__yes {
                            background-color: #1d1d1d;
                            color:#fff;
                        }
                    }
                }
            }
        }
        .txt_wrap {
            padding:vw(16) vw(20) vw(28);
            h1 {
                font-size: vw(18);
                font-weight: 700;                
            }
            .txt {
                margin-top: vw(28);
                font-size: vw(16);
                line-height: vw(22);
            }
        }
        .tour_btm {
            padding:vw(16) vw(20);
            background: #1262ea;
            .__link {
                font-size: vw(14);
                color:#fff;
                padding-right: vw(22);
                text-decoration: underline;
                background: url(../img/ico_link_white.svg) no-repeat 100% 50% / vw(14);
            }
            .sns_list {
                display: flex;
                align-items: center;
                position: absolute;
                right:vw(20);
                a {
                    display: inline-block;
                    padding:vw(6);
                    img {
                        width: vw(24);
                    }
                }
            }
            p {
                margin-top: vw(15);
                font-size: vw(10);
                color:#fff;
            }
        }
        .tour_pro_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding:vw(34) vw(20) 0;
            li {
                position: relative;
                width: 48%;
                margin-top: vw(15);
                img {
                    width: 100%;
                }
                &::before {
                    z-index: 1;
                    position: absolute;
                    left: 0;
                    top:0;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 22.48%);
                }
                &:nth-child(-n + 2) {
                    margin-top: 0;
                }
                button {
                    position: absolute;
                    right:vw(10);
                    top:vw(10);
                    width: vw(22);
                    height: vw(22);
                    border-radius: 100%;
                    z-index: 2;
                    background: rgba(29, 29, 29, 0.35) url(../img/ico_share.svg) no-repeat 50% 50% / vw(14);
                    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
                }
                .txt_box {
                    position: absolute;
                    bottom: vw(10);
                    left:0;
                    z-index: 2;
                    padding-left: vw(13);
                    font-size: vw(14);
                    .p_name {
                        font-weight: 600;                        
                        margin-bottom: vw(2);
                    }
                    .p_price {
                        font-weight: 700;
                    }
                }
            }
        }
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            &.__more {
                width: vw(116);
                height: vw(24);
                margin: vw(43) auto;
                border: 1px solid #C4C4C4;
                color: #C4C4C4;
                font-size: vw(12);
            }
        }
    }
}